* {margin: 0; padding: 0}
body {font-family: Arial;font-size: 20px;line-height: 25px;color: #000;margin: 0 auto;display: block;margin-top: 20px;margin-bottom: 20px;}
.main {width: 1200px;margin:0 auto;display:block;border-style: ridge;border-width: 40px;border-color: #EF84DE;overflow: hidden;background: #A4B4CA fixed;}
.header{border-bottom: 20px solid #909DAD;}
.text {background: url(M.-E-C.s.e-band.jpg)no-repeat;width: 1200px;height: 400px;line-height: 25px;font-style: italic;font-size: 38px;color: #EF84DE;overflow: hidden;}
.text h1 {margin-left: 50px;margin-top: 30px;}
.text h2 {margin-left: 280px;margin-top: 65px;font-weight: bold;}
.text p {margin-left: 750px;margin-top: 45px;font-size: 65px}
.menu {width: 1200px;font-size: 20px;}
		nav ul li:hover > ul {display: block;}
		nav ul {background: #EF84DE;padding: 0 3.3px;border-radius: 0px;list-style: none;position: relative;display: inline-table;}
		nav ul:after {content: ""; clear: both; display: block;}
		nav ul li {float: left;}
		nav ul li a:hover {background-color: #551A8B;color:#EF84DE;}	
		nav ul li a {display: block; padding: 12px 26px;color: #757575; text-decoration: none;}
		nav ul ul {display: none;background: #5f6975; border-radius: 0px; padding: 0;position: absolute; top: 100%;}
		nav ul ul li {float: none;border-top: 1px solid #6b727c;border-bottom: 1px solid #575f6a;position: relative;}
		nav ul ul li a {padding: 15px 40px;color: #fff;}	
		nav ul ul li a:hover {background: #4b545f;}
		nav ul ul ul {position: absolute; left: 100%; top:0;}
.slide {width: 1200px;overflow: hidden;display: block;border-top: 20px solid #909DAD;margin-bottom: 20px;}
.slide img {width: 195px;height: 180px;float: left;border-right: 1px solid #ddd;margin: 2px;padding: 0; }
.content {float: left;margin-top: 30px;overflow: hidden;width: 1200px;}
.mcontent {float: left;width:850px;margin-right: 30px;font-size: 20px;}
.mcontent h2 {margin-bottom: 10px;margin-left: 10px;color: #851877; }
.mcontent p {margin: 10px;}
.mcontent h3{margin-left: 10px;}
.mcontent img {width: 830px;margin: 10px;}
.sidebar {float: right;width: 320px;font-size: 20px;background: #909DAD}
.sidebar h2 {color: #EF84DE;}
.sidebar ul {list-style: none;display: block;padding: 10px;margin-bottom: 15px;overflow: hidden;}
.sidebar ul li {border-bottom: 2px solid #fff;font-size: 20px;margin-top: 10px;color: #551A8B;}
.sidebar ul li a {text-decoration: none;padding: 5px;display: block;}
.sidebar ul li a:hover {background:#551A8B;color: blue;}
.form1 {width: 320px;height: 430px;overflow: hidden;margin: 0;display: block;color: #EF84DE;font-size: 25px;}

.form2 {width: 320px;height: 400px;overflow: hidden;margin: 0;display: block;font-size: 25px;}
.footer {background: #000;color: #fff;padding: 2px;margin: 2px;overflow: hidden;}



